
      <div class="container">
      <div class="title_wrapper flex_between">
        <h2 class="page_title">{{'Change Password' | translate}}</h2>
      
         </div>
         
    <div class="change_password_main" *ngIf="!passwordChanged">
      <notifier-container></notifier-container>
      <form class="form_field_wrapper" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
        <div class="form_field">
          <div class="padding">
            <!-- style="background-image: url(assets/images/change_password.jpg);" -->
            <div class="pwd-info">
              <h6>{{'Password must contain' | translate}}:</h6>
              <ul>
                <li [ngClass]="{'obtain': !changePasswordForm.controls['newPassword'].errors?.required}">{{'Cannot be empty' | translate}}</li>
                <li [ngClass]="{'obtain': changePasswordForm.controls['newPassword'].errors?.passwordStrength != 'Your password should contain atleast 1 uppercase letter [A-Z]'}">{{'At least 1 upper case letter[A-Z]' | translate}}</li>
                <li [ngClass]="{'obtain': changePasswordForm.controls['newPassword'].errors?.passwordStrength != 'Your password should contain atleast 1 lowercase letter [a-z]'}">{{'At least 1 lower case letter[a-z]' | translate}}</li>
                <li [ngClass]="{'obtain': changePasswordForm.controls['newPassword'].errors?.passwordStrength != 'Your password should contain atleast 1 number between [0-9]'}">{{'At least 1 number' | translate}}</li>
                <li [ngClass]="{'obtain': changePasswordForm.controls['newPassword'].errors?.passwordStrength != 'Your password should contain atleast any 1 of the special characters [!@#$^&_]'}">{{'At least any 1 of the special charaters[$@_^#&!]' | translate}}</li>
                <li [ngClass]="{'obtain': !changePasswordForm.controls['newPassword'].errors?.minlength}">{{'At least 8-15 characters in length' | translate}}</li>
              </ul>
          </div>
          </div>
        </div>
        <div class="form_field">
          <div class="padding">
                   <!-- *ngIf="showInfo && changePasswordForm?.controls.newPassword.invalid" -->
 
            <mat-form-field appearance="outline">
              <mat-label>{{'Current Password' | translate}}</mat-label>
              <mat-icon matPrefix><i class="material-icons key">vpn_key</i></mat-icon>
              <input matInput placeholder="Enter Old Password" formControlName="oldpassword"
                (change)="oldpassword(changePasswordForm.value.oldpassword)" (keypress)="keypress.spaceNotAllowed($event)" onCopy="return false">
              <mat-error *ngIf="changePasswordForm.controls['oldpassword'].errors?.required"> {{'Your password cannot be empty' | translate}} </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>{{'New Password (8 - 15 characters)' | translate}}</mat-label>
              <mat-icon matPrefix><i class="material-icons key">vpn_key</i></mat-icon>
              <input matInput placeholder="Enter New Password" formControlName="newPassword" [type]="hide ? 'password' : 'text'"
              (keypress)="keypress.spaceNotAllowed($event)" onCopy="return false" (input)="confirmPasswordEnable($event.target.value)">
              <mat-icon class="eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="changePasswordForm.controls['newPassword'].errors?.required"> {{'Your password cannot be empty' | translate}} </mat-error>
              <mat-error *ngIf="changePasswordForm.controls['newPassword'].errors?.minlength"> {{'Your password length should be minimum of 8 characters' | translate}}</mat-error>
              <mat-error *ngIf="changePasswordForm.controls['newPassword'].errors?.maxlength && !changePasswordForm.controls['newPassword'].errors?.passwordStrength"> {{'Your password length should not be more than maximum of 15 characters' | translate}}</mat-error>
              <mat-hint *ngIf="changePasswordForm.controls.newPassword.valid">New Password entered is successful</mat-hint>
              <!-- <mat-hint *ngIf="!changePasswordForm.hasError('cannotSetSamePassword') && changePasswordForm?.controls.newPassword.valid"><img style="width: 15px;border-radius: 90px;" src="assets/images/greenTick.png" ></mat-hint> -->
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>{{'Confirm Password' | translate}}</mat-label>
              <mat-icon matPrefix><i class="material-icons key">vpn_key</i></mat-icon>
              <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"
              (keypress)="keypress.spaceNotAllowed($event)" onPaste="return false">
              <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].errors?.required"> {{'Your password cannot be empty' | translate}} </mat-error>
              <mat-error *ngIf="changePasswordForm.hasError('passwordDoNotMatch')">{{'Password does not match' | translate}}</mat-error>
              <mat-hint *ngIf="changePasswordForm.valid !=false">Password matched</mat-hint>
              <!-- <mat-hint *ngIf="!changePasswordForm.hasError('cannotSetSamePassword') && changePasswordForm?.controls.newPassword.valid"><img style="width: 15px;border-radius: 90px;" src="assets/images/greenTick.png" ></mat-hint> -->
            </mat-form-field>
            

            <div class="flex_between">
              <div class="flex_between justify-right">
                 <div class="pwd-wrong" *ngIf="changePasswordForm.hasError('cannotSetSamePassword')">
                  <img style="width: 20px;" src="assets/images/error-image.jpg" >
                </div> 

                <div *ngIf="changePasswordForm.hasError('cannotSetSamePassword')"><p>{{'Cannot set same Password' | translate}}</p></div>
                
              </div>
              <button mat-raised-button type="submit" class="submit" color="primary" [disabled]="changePasswordForm.valid !=true">{{'Update Password' | translate}}</button>
            </div>
           </div>
        </div>    
      </form>
      <!-- <div class="pwd-wrong" *ngIf="changePasswordForm.hasError('passwordDoNotMatch')">
        <img style="width: 15px;border-radius: 90px;" src="assets/images/error-image.jpg" >
      </div> -->

      <!-- <div class="confirm-pwd-check" *ngIf="changePasswordForm.controls['confirmPassword'].value && !changePasswordForm.hasError('passwordDoNotMatch')">
        <img style="width: 15px;border-radius: 90px;" src="assets/images/greenTick.png">
      </div> -->
      <!-- <div class="success_wrapper" *ngIf="passwordChanged">
        <img style="width: 50px;" src="assets/images/greenTick.png">
        <h3>{{'Password Updated' | translate}}</h3>
        <p>{{'Your Password has been changed successfully' | translate}}! </p>
        <p>{{'Use your new password to' | translate}} <span (click)="logout()">{{'login' | translate}}</span></p>
      </div> -->
      
    </div>
    <div class="success_wrapper" *ngIf="passwordChanged">
      <div class="success">
        <img src="../../../../assets/images/successs.svg">
        <h3>{{'Password Updated' | translate}}</h3>
        <p>{{'Your Password has been changed successfully' | translate}}! </p>
        <p>{{'Use your new password to' | translate}} <span class="link" color="primary" (click)="logout()">{{'login' | translate}}</span></p>
      </div>
    </div>
  </div>