.preview {
  position: relative;
}

.material-icons.clear {
    padding: 4px;
    /*padding-bottom: 0px; */
    font-size: 16px;
    color: #fff;
    background: #0075bb;
    border-radius: 50px;
  position: absolute;
  top: -30px;
  right: -15px;
}
