<mat-toolbar>
  <div class="logo_Wrapper container">
    <img class="logo" src="../../../../assets/images/N-Insight_mailer.png">
  </div>
</mat-toolbar>
<div class="terms-condition container">
  <div class="title_wrapper flex_between">
    <h3 class="page_title">
      <button (click)="back()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>arrow_back</mat-icon>
      </button>  
      Terms & Conditions
    </h3>    
  </div> 
  
  
  <div class="terms">

    <p>Terms and Conditions is a legal contract between Insight Mailer and You/Your brand. By selecting the checkbox,
      you/your brand acknowledge agreeing to the Terms and Conditions. In the entire document, the term “we/us/our”
      refers to Insight Mailer and “you/your brand/client” refers to anyone who accesses any services/website offered by
      Insight Mailer.</p>

    <h4>Part 1 : Intellectual Property</h4>

    <p>1.1.The services, logo, contents, and materials provided under the name Insight Mailer
      (https://www.insightmailer.com/) is a property of Insight Mailer and is protected under Copyright laws</p>

    <h4>Part 2: Subscription Terms</h4>
    <b>2.1. Subscription Initiation</b>
    <p>2.1.1. To get started with the subscription, you must have chosen a monthly plan and payment method. The site
      provides few subscription plans and you can choose only one from them to get started with the subscription. You
      are permitted to upgrade/degrade the subscription plan right before your next billing cycle which will be
      discussed under the heading ‘Subscription Plan’</p>
    <p>2.1.2. Your subscription will continue until you terminate it or we terminate it in case we noticed any kind of
      any misconduct from your end</p>

    <b>2.2. Registration</b>
    <p>2.2.1.Once you are registered with us, we will provide you with a confirmation email that encloses the
      credentials and access to get started with the tool</p>
    <p>2.2.2.Upon registration, we will provide you with account credentials, which you need to keep it confidential. In
      case you lose the credentials to any third party member, we are not held responsible</p>

    <b>2.3. Free Trial</b>
    <p>2.3.1.For any subscription plan chosen, you are provided with the 14-day free trial</p>
    <p>2.3.2.Your payment will get processed, right on the 15th day. In case you haven't made payment ON or BEFORE the
      15th day, we are accounted to suspend your subscription</p>

    <b>2.4. Subscription Plan</b>
    <p>2.4.1.We provide you with a range of subscription plans and top up plans from which you can choose only one plan
      that best fits your requirements</p>
    <p>2.4.2.We totally understand that your requirements change from time to time, so you are permitted to upgrade or
      degrade your subscription plan right before your next billing cycle. In this case, you will be charged based on
      the changed subscription plan from your upcoming billing cycle</p>
    <p>2.4.3.Enhancement of tool features or change in license cost of Amazon API can affect the pricing of the
      subscription plan. In such cases, we may acknowledge the entire details to you with a prior notice</p>

    <b>2.5.Billing Cycle</b>
    <p>2.5.1.Your first billing cycle commences 28 days from the payment date of your subscription and you will be
      accounted to payments via the payment method chosen by you during the registration process. You are permitted to
      change the payment method anytime, which will be discussed under the heading ‘Payment Terms’. If you fail to
      proceed with payments on the billing date, we will TERMINATE your subscription</p>
    <p>2.5.2.Likewise, your next billing cycle commences 28 days from your previous payment date and will CONTINUE until
      you terminate the account or we terminate it, in case we noticed any kind of misconduct from your end</p>

    <b>2.6. Subscription Termination</b>
    <p>2.6.1.You are permitted to terminate your subscription anytime. In this case, our tool will be available to you
      until your next billing cycle. After which, we will delete your account and all the data that are related to your
      account</p>
    <p>2.6.2.In case we have detected any kind of misconduct from your end, we are subjected to terminate your account
      at anytime</p>

    <b>2.7.Refund Policy</b>
    <p>2.7.1.There will be no refund provided upon subscription termination either by you or Insight Mailer team</p>
    <p>2.7.2.Any payment made to Insight Mailer is non-refundable</p>

    <h4>Part 3: Access to Data</h4>
    <p>3.1.You permit Insight Mailer to access the required data via synchronizing with your Amazon seller central
      account to provide you with the needed service</p>

    <h4>Part 4: Payment Terms</h4>
    <p>4.1.Insight Mailer accepts and process payments via Razorpay</p>
    <p>4.2.We don't insist you to stick on to the payment method that you have chosen during the registration process.
      You are permitted to change the payment method ANYTIME</p>

    <h4>Part 5: Data Protection</h4>
    <p>5.1.The tool is completely secured with SSL Certificate</p>
    <p>5.2.All devices plugged into the network are scanned for malware each time they are attached</p>
    <p>5.3.Data validation is always done both on the browser and server-side</p>

    <h4>Part 6: Limitation of Liability</h4>
    <p>6.1.In case, You have inadequately employed the tool and was not able to avail the full benefits, Insight Mailer
      is not held responsible</p>
    <p>6.2.Insight Mailer is not held responsible if you have lost your subscription credentials to any third party
      members</p>
    <p>6.3.Insight Mailer is not held responsible if there is any pitfall or flaw caused when you provide an
      unauthorized permit to any other third party members or uninstructed/ inexperienced members to access and use your
      subscription account</p>
    <p>6.4.Amazon.in and Amazon.com are registered trademark of Amazon LLC. Insight Mailer has no association,
      affiliation, endorsement, or sponsorship with or by Amazon.com LLC</p>

    <h4>Part 7: Links/Affiliates to Insight Mailer</h4>
    <p>7.1.Any kind of links or affiliates to Insight Mailer without any formal consent from us is strictly prohibited
      and illegal</p>

    <h4>Part 8: Privacy Statement</h4>
    <p>8.1.Insight Mailer is committed to protecting any details related to our clients. Authorized part-time or
      full-time human resources working with Insight Mailer use only required information in the context of the services
      provided</p>

    <h4>Part 9: Criminal offense</h4>
    <p>9.1.Unauthorized usage of the services/website provided by Insight Mailer is completely illegal and a criminal
      offense</p>
    <p>9.2.Activities like source code access, re-engineer or duplication is strictly illegitimate and a criminal
      offense</p>
    <p>9.3.Illegal use of the services for sending out spam, junk or unjustified mails is a criminal offense</p>

    <h4>Part 10: Revising Terms and Conditions</h4>
    <p>10.1.We reserves the right to revise the Terms and Conditions anytime, in case of technology/service introduction
      or updates. In such cases, we don't provide you with any kind of notifications. You are held responsible to have
      yourself updated with our Terms and Conditions.</p>

  </div>
</div>