// .change-pwd .mat-form-field {
//   margin-bottom: 10px;
//   width: 100%;
// }
// .change-pwd {
//   width: 800px;
//   height:550px;
//   position: relative;
//   text-align: center;
//   margin-left:8%;
//   margin-top:15%;
//   background-color: white;
//   border:2px solid #155ac1;
// }
// .pwd-lock{
//   margin-top:-10%;
// }
//  h3{
//   margin-top:5%;
//   color: #155ac1;
//   font-weight: 600;
// }
// label{
//   margin:0;
//   font-size: 16px;
//   color: #155ac1; 
//   font-weight:600;
// }
// .eye{
//   font-size: 14px;
//   line-height: 0px;
//   height: 14px;

//  }
//  .background {
//   height: 100vh;
//   background: #1a2980;
//   background: linear-gradient(to right top, #08a6ca, #121579, #9c0057);
// }
// .updated{
//   width: 50%;
//   height:80%;
//  background: white;
//  padding: 7rem 40px;
//  position: relative;
//   // height: 48vh; 
//  text-align: center;
//  margin: 0px auto;

//  h3 {
//  font-weight: 600;
//  padding: 15px;
//  }
//  p {
//  font-weight: 500;
//  padding: 2px 0px 0px;
//  font-size: 16px;
//  margin-left:80px;
//  max-width: 400px;
// }
// span{
//  text-decoration: underline;
//  cursor:pointer;
//  color: #0e4795;
// }
// .pos-form span {
//  color: #0e4795;
//  font-weight: 600;
//  font-size: 14px;
// }
// }
//  .pwd-check, .pwd-wrong, .confirm-pwd-check {
//   margin-top: -64px;
//   margin-left: 385px;
//   position:absolute;
//   width:20px;
//   height:20px;
//  }

//   .change-btn {
//   position: absolute;
//   bottom: 2rem;
//   right: 38%;
//   }
//   .change-btn button{
//   width:150px;
//   height:35px;
//   font-size:16px;
//   }
//   ::ng-deep .mat-error {
//   color: #f44336;
//   font-size: 10px;
//   }
// .change-pwd ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//   height: 40px
// }
// .change-pwd ::ng-deep .mat-form-field-infix{
//   width: 180px
// }

// .change-pwd ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 0px 0px;
// }

// .change-pwd ::ng-deep .mat-form-field-wrapper {
//   padding-bottom: 20px;
// }

// i.material-icons.clear {
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   cursor: pointer;
// }

// form.ng-pristine.ng-invalid.ng-touched {
//   display: flex;
//   flex-direction: column;
// }
// p{
//   margin: 0px 0px 0px;
//   max-width: 200px;
//   padding-left:10px;
// }
// h6{
//     font-size: 14px;
//     font-weight: 600;
// }
// form{
//   text-align:left;
// }

// .pos-pwd{
//   width: 500px;
//   height: 215px;
//   margin: 0px 0px 0px 60px;
// }

// .login{
//   position: absolute;
//   width:100%;
//   height:100%;
// }
// .forgot-logo1{
//   width: 702px;
//   height: 550px;
// } 
// .forgot-logo1 img{
//   width: 600px;
//   margin:120px 0px 0px 40px;
// }
// .forgot-logo2 img{
//   width: 200px;margin-top:-100px;
// }
// .logo{
//   padding-left:-10px;
// }
// .logo img{
//   width: 200px;
//   margin: 15px 0px 0px -20px;
// }
// .logo1{
//   padding-left:-10px;
// }
// .logo1 img{
//   width: 200px;
//   margin: 15px 0px 0px 10px;
// }
// .split {
//   height: 90%;
//   width: 50%;
//   position: fixed;
//   z-index: 1;
//   overflow-x: hidden;
// }
// .left {
//   margin-left: 20px;
//   left: 0;
//   padding-left:20px;
// }
// .right {
//   text-align:center;
//   right: 0;
//   width: 55%;
//   height:100%;
//   padding-left:20px;
// }
// .forget-bg{
//   position: absolute; 
//   height: 100%;
//   width:100%;
//   background: linear-gradient(to right top, #08a6ca, #121579, #9c0057);
// }
//   .mat-form-field-appearance-outline .mat-form-field-outline{
//   border:1px solid #155ac1;
// }
// .login ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//   left:-5%;
//   height: 45px;
//   width:400px;
// }
// .login ::ng-deep .mat-form-field-wrapper {
//   padding-bottom: 20px;
// }
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
//     top: 0px !important;
// }
//  ::ng-deep .mat-form-field-wrapper {
//     padding-bottom: 1em;
// }
// ::ng-deep .mat-form-field-subscript-wrapper {
//     font-size: 75%;
//     margin-top: 8px;
//     top: calc(100% - 1.79167em);
// }
//   .right{
//   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//    padding: 12px 0px 7px;
//    border-top: 0px;
//    font-size: 13px;
//    display: flex;
//    width: 0px;
//    top:3px;
//    }
//     i.material-icons {
//     color: #7b7b7b;
//     margin-right: 8px;
//     font-size: 18px;
//    }
//   .formGroup-login:after {
//     content: "";
//     width: 3px;
//     background-color: #93b3e0;
//     position: absolute;
//     /* left: 0; */
//     top: 26%;
//     right: 0px;
//     bottom: 0;
//     height: 200px;
//   }
//   .pwd-info{
//     text-align:left;
//     position: relative;
//     width: 250px;
//     height: 150px;
//     padding-left:2rem;
//     margin: -185px 0px 0px 465px;
//     font-size: 13px;
//     font-weight: 600;
//   }
// }
// @media only screen and (min-width: 600px) and (max-width: 768px){
//   .forgot-logo1{
//     margin: 0px 0px 0px -35px;
//   } 
//   .forgot-logo1 img{
//     width: 250px;
//     margin: 215px 0px 0px 40px;
//   }
//   .logo{
//     padding-left:-2px;
//   }
//   .logo img{
//     width: 160px;
//   }
//   .forgot-logo2 img{
//     width: 100px;margin-top: -50px;
//   }
//   .change-pwd {
//     width: 300px;
//     height:648px;
//     margin-left: 7%;
//     margin-top: 23%;
//   }
//   h3{
//     font-size: 25px;
//   }
//   h6{
//     font-size: 14px;
//     font-weight: 600;
// }
//   .pos-pwd{
//     width: 250px;
//     height: 215px;
//     margin: 30px 0px 0px 22px;
//   }
//   .login ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//     width:220px;
//   }
//   .pwd-check, .pwd-wrong, .confirm-pwd-check {
//     margin-left: 220px;
//    }
//    .right{
//     .pwd-info{
//       text-align:left;
//       margin: 22px 0px 0px -18px;
//     }
//   }
//   .change-btn button{
//     left: 40px;
//   }
// }

// @media only screen and (min-width: 768px) and (max-width: 1024px) {
//   .forgot-logo1{
//     width: 400px;
//     height: 450px;
//     margin: 0px 0px 0px 25px;
//   } 
//   .forgot-logo1 img{
//     width: 350px;
//     margin: 80px 0px 0px 0px;
//   }
//   .logo{
//     padding-left:-2px;
//   }
//   .logo img{
//     width: 180px;
//   }
//   .forgot-logo2 img{
//     width: 120px;
//     margin-top: -65px;
//   }
//   .change-pwd {
//     width: 450px;
//     height:400px;
//     margin-left: 6%;
//     margin-top: 16%;
//   }
//   h3{
//     margin-top: 2%;
//     font-size: 28px;
//   }
//   h6{
//     font-size: 14px;
//     font-weight: 600;
// }
//   .pos-pwd{
//     width: 250px;
//     margin: 0px 0px 0px 40px;
//   }
//   .login ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//     width:200px;
//     height: 40px;
//   }
//   .pwd-check, .pwd-wrong, .confirm-pwd-check {
//     margin-left: 200px;
//    }
//    .right{
//     ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//      padding: 12px 0px 7px;
//      border-top: 0px;
//      font-size: 11px;
//      display: flex;
//      width: 0px;
//      top:3px;
//      }
//     }
//    .right{
//     .pwd-info{
//       margin: -170px 0px 0px 220px;
//       font-size: 11px;
//     }
//   }
//   .change-btn button{
//     left: 20px;
//     top: 20px;
//     width: 130px;
//     height: 30px;
//     font-size: 13px;
//   }
//   label{
//     margin:0;
//     font-size: 13px;
//     color: #155ac1; 
//     font-weight:600;
//   }
// }
// @media only screen  and (min-width: 1024px)  and (max-width:1680px){
//   .forgot-logo1{
//     width: 700px;
//     height:450px;
//     margin: 0px 0px 0px 25px;
//   } 
//   .forgot-logo1 img{
//     width: 490px;
//     margin: 38px 0px 0px 0px;
//   }
//   .logo{
//     padding-left:-2px;
//   }
//   .logo img{
//     width: 150px;
//   }
//   .forgot-logo2 img{
//     width: 140px;
//     margin-top: -75px;
//   }
//   .change-pwd {
//     width: 550px;
//     height: 400px;
//     margin-top: 16%;
//   }
//   h3{
//     margin-top: 3%;
//     font-size: 28px;
//   }
//   h6{
//     font-size: 14px;
//     font-weight: 600;
// }
//   .pos-pwd{
//     width: 250px;
//     height:250px;
//     margin: 0px 0px 0px 32px;
//   }
//   .login ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//     width:250px;
//   }
//   .login ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//     left:-5%;
//     height: 38px;
//     // width:400px;
//   }
//   .pwd-check, .pwd-wrong, .confirm-pwd-check {
//     margin-left: 245px;
//    }
//    .right{
//     .pwd-info{
//       margin: -218px 280px;
//       font-size: 12px;
//     } 
//   }
//   .right{
//     ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//      padding: 12px 0px 7px;
//      border-top: 0px;
//      font-size: 13px;
//      display: flex;
//      width: 0px;
//      top:3px;
//      }
//     }
//     .change-btn {
//       position: absolute;
//       bottom: 2rem;
//       right: 45%;
//   }
//   .change-btn button{
//     left: 40px;
//     top: 20px;
//     width:130px;
//     height:30px;
//     font-size: 14px;
//   }
//   label{
//     margin:0;
//     font-size: 15px;
//     color: #155ac1; 
//     font-weight:600;
//   }
// }



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


  
.login_type_wrapper {
  display: flex;
}
notifier-container.notifier__container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
// .pwd-info{
//   h5{
//     margin-bottom: 10px;
//   }
//   ul {
//     padding-left: 15px;
//     margin-bottom: 20px;
//     li {
//       font-size: 12px;
//       margin-bottom: 6px;
//     }
//   }
// } 
.pwd-info {
  margin-bottom: 30px;
  padding-left: 20px;
  ul{
    li{
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 6px;
      &.obtain{
        color: #0054FC;
        font-weight: 400;
      }
    }
  }
  h6 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
  }
}
.login_type_wrapper > div {
  width: calc(100% / 2);
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  &.anime_Wrapper_in{
    // height: calc(100vh - 0px);
    // align-items: baseline;
    display: inline-block;
    justify-content: center;
    // padding: 0px;
    background: #eee;
    > div {
      margin-bottom: 30px;
      // &.word{
      //   position: absolute;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      // top: 0;
      // left: 0;
      // bottom: 0;
      // right: 0;
      // width: 100%;
      // text-align: center;
      // background-size: contain;
      // background-position: center;
      // }
      
    }
    .owl_img_content {
      height: 100vh;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
  h1 {
    font-family: 'Poppins', sans-serif;
      // opacity:0;
      text-align: center;
      color: #fff;
    font-size: 3vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
  }
  span{
    font-size: 18px;
    color: #fff;
    background: black;
    padding: 7px 12px;
  }
    }
 
  }
}
.logo_wrapper {
  position: fixed;
  top: 60px;
  z-index: 9999;
}
label.register a ,.checkbox a{
  color: #0054fc;
  cursor: pointer;
}
.registration-form,.form-login{
  max-width: 400px;
}
.submit,.checkbox{
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.login-rem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
  mat-checkbox.checkbox {
    margin-bottom: 0;
    width: 227px;
  }

  label{
    font-size: 12px;
    white-space: nowrap;
  }
}
.page_title{
  margin-bottom: 30px;
  text-align: center;
  span {
    font-size: 18px;
    display: inline-block;
    font-weight: 300;
  }
}
mat-icon {
  margin-right: 6px;
}
.reg {
  /* display: flex; */
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #182936;
    font-weight: 500;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    img{
      margin-right: 3px;
    }
    &:first-child {
      border-right: 1px solid #C4C4C4;
    }
  }
  
}
.poweredby {
  text-align: center;
  a {
    margin-bottom: 10px;
    display: inline-block;
}
}
form.form2 mat-form-field {
  width: calc(100% / 2 - 2%);
  margin-right: 2%;
  &:nth-child(odd){
    margin-right: 0%;
  }
}
label.register {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
mat-form-field{
  width: 100%;
  margin-bottom: 10px;
}
.logo_wrapper img{
  width: 180px;
}
::ng-deep.owl-theme .owl-nav{
  position: absolute;
  bottom: 0;
  right: 0;
}
::ng-deep.owl-prev,::ng-deep.owl-next {
  position: absolute;
    right: -25px;
    bottom: 80px;
    border-radius: 50px!important;
    background: #0054fc!important;
    box-shadow: 0px 2px 5px 1px #0003;
}
::ng-deep.owl-prev{
  display: none;
}
.Forget_Password {
  padding: 30px;
  text-align: center;
  .login-info {
    margin: 30px 0;
    h3{
      margin-bottom: 20px;
    }
  }
}

.f_pass{
  padding-right: 0;
  padding-left: 0;
}
@media only screen and (max-width: 768px) {
  .login_type_wrapper {
    flex-wrap: wrap;
  }
  ::ng-deep.owl-next{
    display: none!important;
  }
  ::ng-deep.owl-next{
    display: none!important;
  }
  ::ng-deep.owl-prev{
    display: none!important;
  }
  .login_type_wrapper > div {
    padding: 0px;
    width: calc(100% / 1);
    
    height: auto;
    &.sign_up,&.new-login{
      padding: 30px;
    }
    &.anime_Wrapper_in{
      height: auto;
      flex-direction: column-reverse;
      align-items: center;
      .owl_img_content{
        height: 600px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
      div {
       text-align: center;
      }
    }
  }
}
.pwd-info{
  h5{
    margin-bottom: 10px;
  }
  ul {
    padding-left: 15px;
    margin-bottom: 20px;
    li {
      font-size: 12px;
      margin-bottom: 6px;
    }
  }
} 

@media only screen and (max-width: 600Px) {
  .login_type_wrapper > div {
    &.anime_Wrapper_in{
      .owl_img_content{
        background-size: 300PX;
    }
  }
}
}