
  <!-- <notifier-container></notifier-container> -->

<!--   <svg class="login-images" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 0 683 768">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_553" data-name="Rectangle 553" width="683" height="768" transform="translate(10)" fill="#fff"
        stroke="#707070" stroke-width="1" />
    </clipPath>
  </defs>
  <g id="Mask_Group_22" data-name="Mask Group 22" transform="translate(-10)" clip-path="url(#clip-path)">
    <g id="Group_273" data-name="Group 273">
      <path id="Path_283" data-name="Path 283"
        d="M389.827,46.229C421.961-9.376,490.138-16.353,512.6,33.663L775.637,619.24C798.124,669.3,757.96,738.9,703.359,744.489l-329.6,33.734L64.109,809.915c-54.6,5.588-82.663-57.029-50.5-112.683Z"
        transform="translate(-438.774 252.738) rotate(-30)" fill="#0c6dbc" opacity="0.5" />
      <path id="Path_282" data-name="Path 282"
        d="M389.827,46.229C421.961-9.376,490.138-16.353,512.6,33.663L775.637,619.24C798.124,669.3,757.96,738.9,703.359,744.489l-329.6,33.734L64.109,809.915c-54.6,5.588-82.663-57.029-50.5-112.683Z"
        transform="translate(-361.301 368.291) rotate(-30)" fill="#0c6dbc" />
    </g>
  </g>
</svg>  -->

  <!-- <div class="login "> -->
  <!-- <div class="card"> -->
    <!-- <mat-card class="example-card"> -->
      <!-- <div class="image">
        <svg xmlns="http://www.w3.org/2000/svg" width="228" height="184.702" viewBox="0 0 228 184.702">
          <path d="M36.207,0,21.131,29.406h3.043v23.98H8.836L0,70.62l109.487,56.134,36.207-70.62Z" fill="#f2f2f2" />
          <rect width="167.857" height="84.214" transform="translate(33.024 19.129)" fill="#3f3d56" />
          <rect width="123.894" height="0.285" transform="translate(56.575 49.389)" fill="#ff5d37" opacity="0.3" />
          <rect width="123.894" height="0.285" transform="translate(56.718 56.526)" fill="#ff5d37" opacity="0.3" />
          <rect width="123.894" height="0.285" transform="translate(56.718 70.799)" fill="#ff5d37" opacity="0.3" />
          <rect width="123.894" height="0.285" transform="translate(56.718 77.08)" fill="#ff5d37" opacity="0.3" />
          <rect width="123.894" height="0.285" transform="translate(56.718 63.663)" fill="#ff5d37" opacity="0.3" />
          <ellipse cx="53.098" cy="4.853" rx="53.098" ry="4.853" transform="translate(108.673 174.996)"
            fill="#3f3d56" />
          <path
            d="M209.736,197.587l-.394-.413L227.784,179.6,244.04,191.29l13.146-14.575,5.764,4.9,15.681-9.409,17.418,11.707,27.337-15.549.282.5-27.644,15.724-17.41-11.7-15.721,9.433-5.654-4.806-13.117,14.543-16.287-11.715Z"
            transform="translate(-149.581 -120.301)" fill="#ff5d37" />
          <path
            d="M596.4,697.489c1.342,4.96,5.937,8.031,5.937,8.031s2.42-4.97,1.079-9.929-5.937-8.031-5.937-8.031S595.06,692.529,596.4,697.489Z"
            transform="translate(-483.139 -527.392)" fill="#3f3d56" />
          <path
            d="M581.292,708.883c3.682,3.584,4.131,9.093,4.131,9.093s-5.519-.3-9.2-3.885S572.091,705,572.091,705,577.61,705.3,581.292,708.883Z"
            transform="translate(-466.058 -539.852)" fill="#ff5d37" />
          <circle cx="9.563" cy="9.563" r="9.563" transform="translate(208.873 5.712)" fill="#ff5d37" opacity="0.4" />
          <circle cx="6.709" cy="6.709" r="6.709" transform="translate(194.029 13.134)" fill="#ff5d37" opacity="0.4" />
          <circle cx="3.568" cy="3.568" r="3.568" transform="translate(188.891 139.312)" fill="#ff5d37" opacity="0.4" />
          <circle cx="2.712" cy="2.712" r="2.712" transform="translate(128.942 158.724)" fill="#ff5d37" opacity="0.4" />
          <circle cx="3.568" cy="3.568" r="3.568" transform="translate(118.95 121.899)" fill="#ff5d37" opacity="0.4" />
          <circle cx="3.711" cy="3.711" r="3.711" transform="translate(169.907 45.821)" fill="#ff5d37" />
          <path
            d="M714.943,534.692l-3.146.35a42.327,42.327,0,0,0,0,14.681c1.4,8.389,3.146,16.779,3.146,16.779s1.4,27.266,2.1,27.615,6.991,2.447,7.341.35.35-49.987.35-49.987l4.894,23.071s.7,29.013,2.1,29.013,5.943-.35,5.943-2.8,1.049-34.607,1.049-34.607-.35-23.77-1.748-24.469S714.943,534.692,714.943,534.692Z"
            transform="translate(-565.438 -417.942)" fill="#2f2e41" />
          <path
            d="M722.151,739.573s-3.146-.35-3.845,0a2.8,2.8,0,0,0,0,4.195c1.748,1.4,6.292,3.5,7.69,3.5a7.231,7.231,0,0,0,2.8-.7l-.7-5.943Z"
            transform="translate(-569.849 -564.447)" fill="#2f2e41" />
          <path d="M783.149,739.781l.35,4.894s4.544.7,4.894,0,3.845-2.447,4.195-2.8.7-4.195-1.4-4.544-2.8.7-2.8.7Z"
            transform="translate(-616.865 -562.906)" fill="#2f2e41" />
          <path
            d="M661.69,432.612s-8.389,8.04-7.341,12.235,9.438,16.429,9.438,16.429,8.04,4.195,9.089,0-5.593-3.146-5.593-3.146l-5.243-12.584,5.943-8.389Z"
            transform="translate(-524.769 -345.225)" fill="#ffb8b8" />
          <path
            d="M801.221,320.984s7.642-4.915,7.466-8.291-4.784-14.022-4.784-14.022-3.6-7.493-5.037-4.431,1.883,6.322,1.883,6.322l2.14,10.443-5.817,5.549Z"
            transform="translate(-626.814 -245.828)" fill="#ffb8b8" />
          <circle cx="6.292" cy="6.292" r="6.292" transform="translate(149.155 55.577)" fill="#ffb8b8" />
          <path d="M734.169,351.163l1.049,6.642,7.69-1.4s-.35-6.642-.35-7.341S734.169,351.163,734.169,351.163Z"
            transform="translate(-581.868 -285.448)" fill="#ffb8b8" />
          <path
            d="M709.322,376.1s8.739-2.1,9.788-1.4,6.292,1.4,6.292,1.4l5.943,9.089L729.6,396.725s-.35,18.527.35,21.673,4.544,3.5-3.5,4.195-9.438-.35-15.031,1.049-10.137-.7-8.739-2.1,3.845-23.77,1.049-25.867-3.845-12.934-3.845-12.934S709.322,377.849,709.322,376.1Z"
            transform="translate(-557.37 -303.745)" fill="#d0cde1" />
          <path d="M785.6,375.758l1.049-1.049,2.1-2.1s6.816,2.971,6.467,4.02-2.622,7.166-2.622,7.166l-3.146,1.049Z"
            transform="translate(-618.615 -302.353)" fill="#d0cde1" />
          <path d="M685.7,403.923l-4.195-.7s-3.146,3.5-4.195,4.894-3.146,4.894-3.146,4.894l7.341,5.243,5.593-5.943Z"
            transform="translate(-538.996 -324.226)" fill="#d0cde1" />
          <path
            d="M727.813,312.452l-.064-.5a3.962,3.962,0,0,0-1.259.2,2.069,2.069,0,0,1,.078-.906,4.028,4.028,0,0,0-1.166.507l-.254-.92-3.494,1.722a7.37,7.37,0,0,0-3.294,2.5,5.3,5.3,0,0,0-.114,4.519,36.694,36.694,0,0,0,2.182,4.131,10.32,10.32,0,0,0,.992,1.688,4.715,4.715,0,0,0,5.746.984,3.325,3.325,0,0,0,1.592-1.639,10.649,10.649,0,0,0,.318-1.357c.23-.94.5-2.879,1.26-3.474.336-.262,1,.606,1.28.283a2.977,2.977,0,0,0,.121-3.1,22.654,22.654,0,0,0-1.491-2.908A13.805,13.805,0,0,0,727.813,312.452Z"
            transform="translate(-570.169 -258.206)" fill="#2f2e41" />
          <rect width="18.27" height="18.27" transform="translate(3.62 32.832)" fill="#3f3d56" /></svg>
      </div> -->
   <!--    <mat-card-content>

        <p>
          Bulid up your seller reputation by engaging your customers through automated messages.
        </p>
        
      </mat-card-content> -->
    <!-- </mat-card> -->
  <!-- </div> -->
  <!-- <div class="container-fluid">
<div class="row d-flex align-item-center background">
  <notifier-container></notifier-container>
 
  <div class="col-md-12">
     <mat-card>
<div class="login-form">
    <div class="logo">
      <img src="assets/images/Login-logo.png">
    </div>
  <div class="change-pwd">
    <h4>Change Password</h4>
  
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
  
      <label>New Password</label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Enter New Password" formControlName="newPassword" (input)="confirmPasswordEnable($event.target.value)" [type]="hide ? 'password' : 'text'"
          (keypress)="keypress.spaceNotAllowed($event)">
          <mat-icon class="eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="changePasswordForm?.controls['newPassword'].errors?.required"> Your password cannot be blank </mat-error>
          <mat-error *ngIf="changePasswordForm?.controls['newPassword'].errors?.minlength"> Your password length should be minimum of 8 characters</mat-error>
          <mat-error *ngIf="changePasswordForm?.controls['newPassword'].errors?.maxlength && !changePasswordForm?.controls['newPassword'].errors?.passwordStrength"> Your password length should not be more than maximum of 15 characters</mat-error>
          <div class="error" *ngIf="changePasswordForm?.controls['newPassword'].errors?.passwordStrength && !changePasswordForm?.controls['newPassword'].errors?.minlength"> Your Password should be of 8 to 15 characters in length. It should have 1 Uppser case letters [A-Z], atleast 1 lower case letters [a-z], atleast 1 number[0-9] and any 1 of the special characters[$@_^#&!] </div>
      </mat-form-field> -->
  
      <!-- <label>Confirm Password</label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Confirm Password" formControlName="confirmPassword"
        type="password" (keypress)="keypress.spaceNotAllowed($event)"> -->
        <!-- <mat-icon class="eye" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon> -->
        <!-- <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].errors?.required"> Your password cannot be blank </mat-error>
                <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].errors?.minlength"> Your password length should be minimum of 8 characters</mat-error>
                <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].errors?.maxlength && !changePasswordForm.controls['confirmPassword'].errors?.passwordStrength"> Your password length should not be more than maximum of 15 characters</mat-error>
                <div class="error1" *ngIf="changePasswordForm.controls['confirmPassword'].errors?.passwordStrength && !changePasswordForm.controls['confirmPassword'].errors?.minlength"> Your Password should be of 8 to 15 characters in length. It should have 1 Uppser case letters [A-Z], atleast 1 lower case letters [a-z], atleast 1 number[0-9] and any 1 of the special characters[$@_^#&!] </div> -->
      <!-- </mat-form-field>
  
      <div class="change-btn">
        <button mat-raised-button type="submit" class="submit" color="primary">Update Password</button>
      </div>
    </form>  -->
    <!-- <i class="material-icons clear" (click)="close()">clear</i> -->
  
  <!-- </div>
</div>
</mat-card>
</div>
</div>
</div> -->
<!-- </div> -->



<!-- New -->


<!-- <div class="login" >
  <notifier-container></notifier-container>

  <div class="container-fluid">
      <div class="split left">
          <div class="logo">
              <img src="assets/images/Login-logo.png">
          </div>
          <div class="forgot-logo1">
              <img src="assets/images/Change-Password1.png">
          </div>
      </div>
      <div class="split right">
          <div class="forget-bg">
            <div class="change-pwd">

              <div class="forgot-logo2"><img src="assets/images/Change-Password2.png"></div>
              <h3>Reset Your Password</h3>
            
            
            
             </div>

          </div>
      </div> 
  </div>
</div> -->




<!-- testing -->

<div class="login_wrapper_main">
  <div class="login_type_wrapper">
    <div class="anime_Wrapper_in">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="owl_img_content" style="background-image: url('../../../../assets/images/login-1.jpg');">
            <!-- <h1>Solicit the reviews from buyers</h1>
              <span>Allow your buyers to bring more future buyers.</span> -->
          </div>
          <img src="">
        </ng-template>
        <ng-template carouselSlide>
          <div class="owl_img_content" style="background-image: url('../../../../assets/images/login-2.jpg');">
            <!-- <h1>Be a Proactive seller</h1>
              <span>Take charge to receive your seller feedback and product reviews.</span> -->
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="owl_img_content" style="background-image: url('../../../../assets/images/login-3.jpg');">
            <!-- <h1>Set a key for continued business growth</h1>
              <span>Accelerate your seller rating with automated email campaigns.</span> -->
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <!-- *ngIf="switch == 'login'" -->
    <div class="sign_up" >
      <notifier-container></notifier-container>
      <div class="form-login" *ngIf="!passwordChanged">

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)" >
          <h3 class="page_title">Reset Password</h3>
          <div class="pos-pwd">
              
              <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
              <mat-icon matPrefix><i class="material-icons">vpn_key</i></mat-icon>
                <input matInput placeholder="New Password" formControlName="newPassword" [type]="hide ? 'password' : 'text'" (change)="confirmPasswordEnable()" (keypress)="keypress.spaceNotAllowed($event)" onCopy="return false">
                  <mat-icon class="eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="changePasswordForm?.controls['newPassword'].errors?.required"> Password is required </mat-error>
                  <mat-error *ngIf="changePasswordForm?.controls['newPassword'].errors?.minlength"> Your password length should be minimum of 8 characters</mat-error>
                  <mat-error *ngIf="changePasswordForm?.controls['newPassword'].errors?.maxlength"> Your password length should not be more than maximum of 15 characters</mat-error>
                  <mat-hint *ngIf="changePasswordForm.controls.newPassword.valid">New Password entered is successful</mat-hint>
                  <!-- <div class="pwd-check">
                    <img style="width: 15px;" src="assets/images/greenTick.png" >
                  </div> -->
                  <!-- <div class="error" *ngIf="changePasswordForm?.controls['newPassword'].errors?.passwordStrength && !changePasswordForm?.controls['newPassword'].errors?.minlength"> Your Password should be of 8 to 15 characters in length. It should have 1 Uppser case letters [A-Z], atleast 1 lower case letters [a-z], atleast 1 number[0-9] and any 1 of the special characters[$@_^#&!] </div> -->
              </mat-form-field> 
              

              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label> 
                <mat-icon matPrefix><i class="material-icons">vpn_key</i></mat-icon>
                <input matInput placeholder="Confirm New Password" formControlName="confirmPassword" type="password" (keypress)="keypress.spaceNotAllowed($event)" onPaste="return false"> 
                <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].errors?.required"> Confirm password is required </mat-error>
                <mat-error *ngIf="changePasswordForm.hasError('passwordDoNotMatch')">Password doesn't match</mat-error> 
                <!-- <div class="pwd-wrong" *ngIf="changePasswordForm.hasError('passwordDoNotMatch')">
                  <img style="width: 20px;" src="assets/images/error-image.jpg" >
                </div> -->
              <mat-hint *ngIf="changePasswordForm.valid !=false && changePasswordForm.controls['confirmPassword'].value != ''">Password matched</mat-hint>
                <!-- <mat-hint *ngIf="changePasswordForm.controls.newPassword.valid">Type in the same password here</mat-hint> -->
              </mat-form-field>
              
              <!-- <div class="confirm-pwd-check" *ngIf="changePasswordForm.controls['confirmPassword'].value && !changePasswordForm.hasError('passwordDoNotMatch')">
                <img style="width: 15px;" src="assets/images/greenTick.png">
              </div> -->
              </div>
              <div class="pwd-info" *ngIf="changePasswordForm.controls.newPassword.invalid">
                <h6>{{'Password must contain' | translate}}:</h6>
              <ul >
                <li [ngClass]="{'obtain': !changePasswordForm.controls['newPassword'].errors?.required}">{{'Cannot be empty' | translate}}</li>
                <li [ngClass]="{'obtain': changePasswordForm.controls['newPassword'].errors?.passwordStrength != 'Your password should contain atleast 1 uppercase letter [A-Z]'}">{{'At least 1 upper case letter[A-Z]' | translate}}</li>
                <li [ngClass]="{'obtain': changePasswordForm.controls['newPassword'].errors?.passwordStrength != 'Your password should contain atleast 1 lowercase letter [a-z]'}">{{'At least 1 lower case letter[a-z]' | translate}}</li>
                <li [ngClass]="{'obtain': changePasswordForm.controls['newPassword'].errors?.passwordStrength != 'Your password should contain atleast 1 number between [0-9]'}">{{'At least 1 number' | translate}}</li>
                <li [ngClass]="{'obtain': changePasswordForm.controls['newPassword'].errors?.passwordStrength != 'Your password should contain atleast any 1 of the special characters [!@#$^&_]'}">{{'At least any 1 of the special charaters[$@_^#&!]' | translate}}</li>
              </ul>
            </div>
              <div class="change-btn">
                <button mat-raised-button type="submit" class="submit" color="primary" [disabled]="changePasswordForm.valid !=true">Reset Password</button>
              </div>
            </form> 
            <!--  -->
            
      </div>
      <div class="success_wrapper" *ngIf="passwordChanged">
        <div class="success">
          <img src="../../../../assets/images/successs.svg">
          <h3>Password Updated</h3>
          <p>Your Password has been changed successfully! </p>
          <p>Use your new password to <span class="link" color="primary" (click)="logout()">login</span></p>
        </div>
      </div>
    </div>
    
    <!-- <div class="new-login active" *ngIf="switch == 'register'">
    
    </div> -->
  </div>

</div>